<%-- -------- Close Connection Code -------- --%>
<%
  // Close the ResultSet
  if(rs!= null) {
    rs.close();
  }
  // Close the Statement
  if(pstmt != null) {
    pstmt.close();
  }
  // Close the Connection
  if(conn != null) {
    conn.close();
  }
} catch (SQLException e) {
  // Wrap the SQL exception in a runtime exception to propagate
  // it upwards
  System.out.println("SQL Exception");
  e.printStackTrace();
} catch (Exception e) {
  System.out.println("Other Exception");
  e.printStackTrace();
}
finally {
  // Release resources in a finally block in reverse-order of
  // their creation
  if (rs != null) {
    try {
      rs.close();
    } catch (SQLException e) { } // Ignore
    rs = null;
  }
  if (pstmt != null) {
    try {
      pstmt.close();
    } catch (SQLException e) { } // Ignore
    pstmt = null;
  }
  if (conn != null) {
    try {
      conn.close();
    } catch (SQLException e) { } // Ignore
    conn = null;
  }
}
%>
